/* Contador */
.contador-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    gap: 10px;
}

.contador{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contador-button{
    background-color: #fff;
    border: 1px solid #000;
    padding: 6px 8px;
    border-radius: 7px;
    color: #000;
    font-size:17px;
    font-weight: 600;
}

.cantidad{
    font-size: 20px;
}

.add-to-cart{
    background-color: #fff;
    border: 1px solid #000;
    padding: 6px 8px;
    border-radius: 4px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
}

/* ItemDetail */
.container-detail{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: center;
}

.img{
    height: 100%;
    width: 100%;
}

.information{
    
    height: 550px;
    width: 800px;
    border: 1px solid #000;
    padding: 10px 10px 250px 10px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.reviewes-container{
display: flex;
width: 100%;
text-align: center;


}

.review-container{
    display: flex ;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    
}

.review{
    border: 1px solid #000;
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.aditional-information{
    margin-top: 40px;
    border: 1px solid #000;
    padding-left: 10px;
}

.aditional-infomation-title{
    display: flex;
    justify-content: center;
}