body {
  background-color: #EFEFEF;
  font-family: 'Rubik', sans-serif;

}

.products-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card-container {
  background-color: #D1D1D1;
  border-radius: 10px;
  height: 320px;
  width: 400px;
  padding: 10px 10px 250px 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 200ms;
}

.card-container:hover{
    box-shadow: -1px 1px 24px -1px rgba(0, 0, 0, 0.81);
    -webkit-box-shadow: -1px 1px 24px -1px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: -1px 1px 24px -1px rgba(0, 0, 0, 0.81);
}

.img {
  width: 100%;
}

.ver-mas {
  color: #000;
}

.more-info-btn{
    border:none;
    padding: 8px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #EFEFEF;
    
}

